**/.DS_Store

__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

*.pt            
*.pth
*.onnx
runs/          
datasets/      

.env           
.vscode/      
.idea/ 

# local test images / outputs
test/*.jpg
test/*.jpeg
test/*.png
test/*.webp
test/*.json
test/*annotated*